@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
  margin: 10px;
  color: #0066cc;
  
}

.box{
    background-color: rgb(38, 131, 123);
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px black;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    /* margin:auto;
    width:auto; */
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10px;
    justify-content: center
}

ul{
    font-size: 15px;
}

p{
    font-size: 15px;
}

.box h1{
    width:auto;
    font-size: 25px;
    color: black
}

.box-margin{
    margin-top: 100px;
}